.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
  margin: 1rem 0 0 1rem;
  justify-content: center;

  &__submit {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;

    &:hover {
      background-color: #a1a1a1;
    }
  }
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input {
    padding: 10px;
    border-radius: 10px;
  }

  &__label {
    margin-bottom: 0.5rem;
  }
}
